<simple-select [(ngModel)]="countryID" placeholder="Country" class="country-dropdown">
  <simple-option value="AF">Afghanistan</simple-option>
  <simple-option value="AL">Albania</simple-option>
  <simple-option value="DZ">Algeria</simple-option>
  <simple-option value="AS">American Samoa</simple-option>
  <simple-option value="AD">Andorra</simple-option>
  <simple-option value="AO">Angola</simple-option>
  <simple-option value="AI">Anguilla</simple-option>
  <simple-option value="AQ">Antarctica</simple-option>
  <simple-option value="AG">Antigua and Barbuda</simple-option>
  <simple-option value="AR">Argentina</simple-option>
  <simple-option value="AM">Armenia</simple-option>
  <simple-option value="AW">Aruba</simple-option>
  <simple-option value="AU">Australia</simple-option>
  <simple-option value="AT">Austria</simple-option>
  <simple-option value="AZ">Azerbaijan</simple-option>
  <simple-option value="BS">Bahamas</simple-option>
  <simple-option value="BH">Bahrain</simple-option>
  <simple-option value="BD">Bangladesh</simple-option>
  <simple-option value="BB">Barbados</simple-option>
  <simple-option value="BY">Belarus</simple-option>
  <simple-option value="BE">Belgium</simple-option>
  <simple-option value="BZ">Belize</simple-option>
  <simple-option value="BJ">Benin</simple-option>
  <simple-option value="BM">Bermuda</simple-option>
  <simple-option value="BT">Bhutan</simple-option>
  <simple-option value="BO">Bolivia</simple-option>
  <simple-option value="BA">Bosnia and Herzegovina</simple-option>
  <simple-option value="BW">Botswana</simple-option>
  <simple-option value="BV">Bouvet Island</simple-option>
  <simple-option value="BR">Brazil</simple-option>
  <simple-option value="IO">British Indian Ocean Territory</simple-option>
  <simple-option value="VG">British Virgin Islands</simple-option>
  <simple-option value="BN">Brunei</simple-option>
  <simple-option value="BG">Bulgaria</simple-option>
  <simple-option value="BF">Burkina Faso</simple-option>
  <simple-option value="BI">Burundi</simple-option>
  <simple-option value="KH">Cambodia</simple-option>
  <simple-option value="CM">Cameroon</simple-option>
  <simple-option value="CA">Canada</simple-option>
  <simple-option value="CV">Cape Verde</simple-option>
  <simple-option value="KY">Cayman Islands</simple-option>
  <simple-option value="CF">Central African Republic</simple-option>
  <simple-option value="TD">Chad</simple-option>
  <simple-option value="CL">Chile</simple-option>
  <simple-option value="CN">China</simple-option>
  <simple-option value="CX">Christmas Island</simple-option>
  <simple-option value="CC">Cocos (Keeling) Islands</simple-option>
  <simple-option value="CO">Colombia</simple-option>
  <simple-option value="KM">Comoros</simple-option>
  <simple-option value="CD">Congo (DRC)</simple-option>
  <simple-option value="CG">Congo (Republic)</simple-option>
  <simple-option value="CK">Cook Islands</simple-option>
  <simple-option value="CR">Costa Rica</simple-option>
  <simple-option value="CI">Côte d'Ivoire</simple-option>
  <simple-option value="HR">Croatia</simple-option>
  <simple-option value="CU">Cuba</simple-option>
  <simple-option value="CY">Cyprus</simple-option>
  <simple-option value="CZ">Czech Republic</simple-option>
  <simple-option value="DK">Denmark</simple-option>
  <simple-option value="DJ">Djibouti</simple-option>
  <simple-option value="DM">Dominica</simple-option>
  <simple-option value="DO">Dominican Republic</simple-option>
  <simple-option value="EC">Ecuador</simple-option>
  <simple-option value="EG">Egypt</simple-option>
  <simple-option value="SV">El Salvador</simple-option>
  <simple-option value="GQ">Equatorial Guinea</simple-option>
  <simple-option value="ER">Eritrea</simple-option>
  <simple-option value="EE">Estonia</simple-option>
  <simple-option value="ET">Ethiopia</simple-option>
  <simple-option value="FK">Falkland Islands (Islas Malvinas)</simple-option>
  <simple-option value="FO">Faroe Islands</simple-option>
  <simple-option value="FJ">Fiji</simple-option>
  <simple-option value="FI">Finland</simple-option>
  <simple-option value="FR">France</simple-option>
  <simple-option value="GF">French Guiana</simple-option>
  <simple-option value="PF">French Polynesia</simple-option>
  <simple-option value="TF">French Southern Territories</simple-option>
  <simple-option value="GA">Gabon</simple-option>
  <simple-option value="GM">Gambia</simple-option>
  <simple-option value="GZ">Gaza Strip</simple-option>
  <simple-option value="GE">Georgia</simple-option>
  <simple-option value="DE"><img src="https://image.flaticon.com/icons/svg/197/197571.svg" height="12em" width="12em">Germany</simple-option>
  <simple-option value="GH">Ghana</simple-option>
  <simple-option value="GI">Gibraltar</simple-option>
  <simple-option value="GR">Greece</simple-option>
  <simple-option value="GL">Greenland</simple-option>
  <simple-option value="GD">Grenada</simple-option>
  <simple-option value="GP">Guadeloupe</simple-option>
  <simple-option value="GU">Guam</simple-option>
  <simple-option value="GT">Guatemala</simple-option>
  <simple-option value="GG">Guernsey</simple-option>
  <simple-option value="GN">Guinea</simple-option>
  <simple-option value="GW">Guinea-Bissau</simple-option>
  <simple-option value="GY">Guyana</simple-option>
  <simple-option value="HT">Haiti</simple-option>
  <simple-option value="HM">Heard Island and McDonald Islands</simple-option>
  <simple-option value="HN">Honduras</simple-option>
  <simple-option value="HK">Hong Kong</simple-option>
  <simple-option value="HU">Hungary</simple-option>
  <simple-option value="IS">Iceland</simple-option>
  <simple-option value="IN">India</simple-option>
  <simple-option value="ID">Indonesia</simple-option>
  <simple-option value="IR">Iran</simple-option>
  <simple-option value="IQ">Iraq</simple-option>
  <simple-option value="IE">Ireland</simple-option>
  <simple-option value="IM">Isle of Man</simple-option>
  <simple-option value="IL">Israel</simple-option>
  <simple-option value="IT">Italy</simple-option>
  <simple-option value="JM">Jamaica</simple-option>
  <simple-option value="JP">Japan</simple-option>
  <simple-option value="JE">Jersey</simple-option>
  <simple-option value="JO">Jordan</simple-option>
  <simple-option value="KZ">Kazakhstan</simple-option>
  <simple-option value="KE">Kenya</simple-option>
  <simple-option value="KI">Kiribati</simple-option>
  <simple-option value="XK">Kosovo</simple-option>
  <simple-option value="KW">Kuwait</simple-option>
  <simple-option value="KG">Kyrgyzstan</simple-option>
  <simple-option value="LA">Laos</simple-option>
  <simple-option value="LV">Latvia</simple-option>
  <simple-option value="LB">Lebanon</simple-option>
  <simple-option value="LS">Lesotho</simple-option>
  <simple-option value="LR">Liberia</simple-option>
  <simple-option value="LY">Libya</simple-option>
  <simple-option value="LI">Liechtenstein</simple-option>
  <simple-option value="LT">Lithuania</simple-option>
  <simple-option value="LU">Luxembourg</simple-option>
  <simple-option value="MO">Macau</simple-option>
  <simple-option value="MG">Madagascar</simple-option>
  <simple-option value="MW">Malawi</simple-option>
  <simple-option value="MY">Malaysia</simple-option>
  <simple-option value="MV">Maldives</simple-option>
  <simple-option value="ML">Mali</simple-option>
  <simple-option value="MT">Malta</simple-option>
  <simple-option value="MH">Marshall Islands</simple-option>
  <simple-option value="MQ">Martinique</simple-option>
  <simple-option value="MR">Mauritania</simple-option>
  <simple-option value="MU">Mauritius</simple-option>
  <simple-option value="YT">Mayotte</simple-option>
  <simple-option value="MX">Mexico</simple-option>
  <simple-option value="FM">Micronesia</simple-option>
  <simple-option value="MD">Moldova</simple-option>
  <simple-option value="MC">Monaco</simple-option>
  <simple-option value="MN">Mongolia</simple-option>
  <simple-option value="ME">Montenegro</simple-option>
  <simple-option value="MS">Montserrat</simple-option>
  <simple-option value="MA">Morocco</simple-option>
  <simple-option value="MZ">Mozambique</simple-option>
  <simple-option value="MM">Myanmar (Burma)</simple-option>
  <simple-option value="NA">Namibia</simple-option>
  <simple-option value="NR">Nauru</simple-option>
  <simple-option value="NP">Nepal</simple-option>
  <simple-option value="NL">Netherlands</simple-option>
  <simple-option value="AN">Netherlands Antilles</simple-option>
  <simple-option value="NC">New Caledonia</simple-option>
  <simple-option value="NZ">New Zealand</simple-option>
  <simple-option value="NI">Nicaragua</simple-option>
  <simple-option value="NE">Niger</simple-option>
  <simple-option value="NG">Nigeria</simple-option>
  <simple-option value="NU">Niue</simple-option>
  <simple-option value="NF">Norfolk Island</simple-option>
  <simple-option value="KP">North Korea</simple-option>
  <simple-option value="MK">North Macedonia</simple-option>
  <simple-option value="MP">Northern Mariana Islands</simple-option>
  <simple-option value="NO">Norway</simple-option>
  <simple-option value="OM">Oman</simple-option>
  <simple-option value="PK">Pakistan</simple-option>
  <simple-option value="PW">Palau</simple-option>
  <simple-option value="PS">Palestinian Territories</simple-option>
  <simple-option value="PA">Panama</simple-option>
  <simple-option value="PG">Papua New Guinea</simple-option>
  <simple-option value="PY">Paraguay</simple-option>
  <simple-option value="PE">Peru</simple-option>
  <simple-option value="PH">Philippines</simple-option>
  <simple-option value="PN">Pitcairn Islands</simple-option>
  <simple-option value="PL">Poland</simple-option>
  <simple-option value="PT">Portugal</simple-option>
  <simple-option value="PR">Puerto Rico</simple-option>
  <simple-option value="QA">Qatar</simple-option>
  <simple-option value="RE">Réunion</simple-option>
  <simple-option value="RO">Romania</simple-option>
  <simple-option value="RU">Russia</simple-option>
  <simple-option value="RW">Rwanda</simple-option>
  <simple-option value="SH">Saint Helena</simple-option>
  <simple-option value="KN">Saint Kitts and Nevis</simple-option>
  <simple-option value="LC">Saint Lucia</simple-option>
  <simple-option value="PM">Saint Pierre and Miquelon</simple-option>
  <simple-option value="VC">Saint Vincent and the Grenadines</simple-option>
  <simple-option value="WS">Samoa</simple-option>
  <simple-option value="SM">San Marino</simple-option>
  <simple-option value="ST">São Tomé and Príncipe</simple-option>
  <simple-option value="SA">Saudi Arabia</simple-option>
  <simple-option value="SN">Senegal</simple-option>
  <simple-option value="RS">Serbia</simple-option>
  <simple-option value="SC">Seychelles</simple-option>
  <simple-option value="SL">Sierra Leone</simple-option>
  <simple-option value="SG">Singapore</simple-option>
  <simple-option value="SK">Slovakia</simple-option>
  <simple-option value="SI">Slovenia</simple-option>
  <simple-option value="SB">Solomon Islands</simple-option>
  <simple-option value="SO">Somalia</simple-option>
  <simple-option value="ZA">South Africa</simple-option>
  <simple-option value="GS">South Georgia and the South Sandwich Islands</simple-option>
  <simple-option value="KR">South Korea</simple-option>
  <simple-option value="ES">Spain</simple-option>
  <simple-option value="LK">Sri Lanka</simple-option>
  <simple-option value="SD">Sudan</simple-option>
  <simple-option value="SR">Suriname</simple-option>
  <simple-option value="SJ">Svalbard and Jan Mayen</simple-option>
  <simple-option value="SZ">Swaziland</simple-option>
  <simple-option value="SE">Sweden</simple-option>
  <simple-option value="CH">Switzerland</simple-option>
  <simple-option value="SY">Syria</simple-option>
  <simple-option value="TW">Taiwan</simple-option>
  <simple-option value="TJ">Tajikistan</simple-option>
  <simple-option value="TZ">Tanzania</simple-option>
  <simple-option value="TH">Thailand</simple-option>
  <simple-option value="TL">Timor-Leste</simple-option>
  <simple-option value="TG">Togo</simple-option>
  <simple-option value="TK">Tokelau</simple-option>
  <simple-option value="TO">Tonga</simple-option>
  <simple-option value="TT">Trinidad and Tobago</simple-option>
  <simple-option value="TN">Tunisia</simple-option>
  <simple-option value="TR">Turkey</simple-option>
  <simple-option value="TM">Turkmenistan</simple-option>
  <simple-option value="TC">Turks and Caicos Islands</simple-option>
  <simple-option value="TV">Tuvalu</simple-option>
  <simple-option value="UM">U.S. Minor Outlying Islands</simple-option>
  <simple-option value="VI">U.S. Virgin Islands</simple-option>
  <simple-option value="UG">Uganda</simple-option>
  <simple-option value="UA">Ukraine</simple-option>
  <simple-option value="AE">United Arab Emirates</simple-option>
  <simple-option value="GB">United Kingdom</simple-option>
  <simple-option value="US">United States</simple-option>
  <simple-option value="UY">Uruguay</simple-option>
  <simple-option value="UZ">Uzbekistan</simple-option>
  <simple-option value="VU">Vanuatu</simple-option>
  <simple-option value="VA">Vatican City</simple-option>
  <simple-option value="VE">Venezuela</simple-option>
  <simple-option value="VN">Vietnam</simple-option>
  <simple-option value="WF">Wallis and Futuna</simple-option>
  <simple-option value="EH">Western Sahara</simple-option>
  <simple-option value="YE">Yemen</simple-option>
  <simple-option value="ZM">Zambia</simple-option>
  <simple-option value="ZW">Zimbabwe</simple-option>
</simple-select>
